* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

.links {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content * {
    flex-grow: 1;
}

/* todo */
.section-one {
    background-color: #1F2937;
    display: flex;
    color: white;   
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-one-right {
    flex: 1;
    
}

.placeholder{
    height: 150px;
    width: 200px;
    background-color: gray;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.section-two {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    max-width: 120px;
}

.section {
    max-width: 120px;
}

.text {
    font-size: 12px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.section-three-container {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.quoter {
    align-self: flex-end;
    font-weight: bold;
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.action {
    box-sizing: border-box;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    color: white;
    background-color: #3882f6;
    flex-grow: 0;
    display: flex;
    max-width: 600px;
}

.action-left-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.action-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

button {
    border: white solid 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #3882f6;
    color: white;
    max-width: 80px;
    width: 80px;
    height: 40px;
}

